{% extends 'base.twig' %}
{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="formulaire">
        <h3>Connexion</h3>
        {% if message is defined %}
            <p>{{ message }}</p>
        {% endif %}
        <div class="container py-5 main">
            <div class="row">
                <div class="col-md-12">
                    <form action="{{ path('login') }}" method="post">
                        <div class="form-group row">

                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="email" name="email" placeholder="email"
                                       required><br>
                            </div>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="Mot de passe" required/><br>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary px-4" value="Se connecter"/>

                    </form>
                    <p class="m-3">Pas encore inscrit ? <a href="{{ path('register') }}">S'inscrire</a></p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}