<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <h2>Inscription</h2>
    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="{{ path('register') }}" method="post">
        <label for="firstname">Prénom:</label>
        <input type="text" id="firstname" name="firstname" required><br>

        <label for="lastname">Nom de famille:</label>
        <input type="text" id="lastname" name="lastname" required><br>

        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required><br>

        <input type="submit" value="S'inscrire">
    </form>
    <p>Déjà inscrit ? <a href="{{ path('login') }}">Se connecter</a></p>

</body>
</html>